:root{
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
*{
  padding: 0;
  margin: 0;
}
img{
  border-radius: 28px;
}
#page{
  box-sizing: border-box;
  margin: 88px auto 80px;
  width: 1120px;
}

.headline{
 color: #E1624F;
 text-transform: uppercase;
 font-size: 16px;
 font-weight: bold;
}
#page img + p {
  text-align: center;
  font-style: italic;
}
#teste{
  margin: 40px 0;
}

h1{
  color: #1B1B1B;
  font-size: 36px;
}
h2{
  color: #1B1B1B;
  font-size: 32px;
}
 h3{
  color: #1B1B1B;
  font-size: 28px;
}
li{
  font-weight: bold;
  font-size: 28px;
  margin-left: 40px;
}
#page img + p {
  margin-top: 24px;
}
#destino{
  margin: 64px 0;
}
#destino h2 + p{
  margin-top: 8px;
}
p{
  font-size: 16px;
}
span.azul{
 color: #0C51A7;
 font-weight: bold;
}

 h3{
margin-top: 20px;
margin-bottom: 4px;
}

li + p{
  margin-bottom: 48px;
}

